body {
    min-width: 960px;
}
body {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: normal;
    cursor: default;
}
body {
    margin: 0;
}
 h2 {
    margin: 0 0 14px;
    font-size: 30px;
}
.header {
    min-width: 960px;
    height: 74px;
    background: #4a4a4a;
    color: #fff;
}
.header a{
	color: #fff;
	text-decoration: none;
}
.header_menu li{
	display: inline-block;
	list-style: none;
}

.header_inner {
    width: 960px;
    height: 74px;
    margin: 0 auto;
    padding: 0;
}
.header_logo {
    display: inline-block;
    float: left;
    margin-right: 27px;
    padding: 17px 0 14px;
}
.header_menu {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #f2f2f2;
    font-size: 17px;
    position: relative;
    display: inline-block;
    float: left;
}
.header_menu__item--active,  .header_menu__item:hover {
    color: #f14635;
}
 .header_menu__item {
    display: inline-block;
    padding: 26px 0 28px;
    line-height: 20px;
    margin-right: 20px;
    transition: all .2s ease-out;
}
.header_phone {
    position: relative;
    display: block;
    color: #fff;
    float: right;
    font-size: 17px;
    height: 74px;
}

.header_phone a.headerAuth__link{
    height: 74px;
    background-position: 34px;
    background-repeat: no-repeat;
    transition: all .2s ease-out;
    position: relative;
    display: block;
    float: right;
    padding: 0 0 0 54px;
    cursor: pointer;
    z-index: 651;
    margin-top: 30px
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
    width: 100%;
}


div.content{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

.item-card {
    position: relative;
    float: left;
    width: 240px;
    height: 335px;
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 21px 14px 0;
    margin-bottom: 0px;
}

.item-card__image {
    display: block;
    /*width: 200px;*/
    height: 150px;
    margin: 0 auto;
}
.item-card__sticker {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}


.item-card__info:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 0 0 21px;
    background: #e5e5e5;
}
 .item-card__image-wrapper {
    margin-bottom: 29px;
        display: block;
}

.item-card__name {
    overflow: hidden;
    display: block;
    height: 50px;
    margin-bottom: 2px;
}
 a {
    cursor: pointer;
    color: #0089d0;
    text-decoration: none;
}

.item-card__debet {
    float: left;
    padding-right: 9px;
    border-right: 1px solid #e5e5e5;
}
.item-card__instalment {
    float: left;
    margin-left: 10px;
    white-space: nowrap;
}
.slider .owl-carousel .owl-stage-outer .owl-item img{
    width: 100% !important;
    margin-right: 0px !important;
}

.smartphones .owl-carousel .owl-stage-outer .owl-item{
	width: 240px !important;margin-right: 0px !important;
}

section.smartphones{
	margin: 35px auto 42px;
}
section.smartphones h2{
	font-weight: 400;
	margin-bottom:14px;
	color:#000;
}



footer div.footer-left{
	float: left;
}
footer div.footer-right{
	float: right;
}



 .icon._small._mobile-toggle{
    width: 12px;
    height: 20px;
    background-image: url(../images/soc/small-mobile-toggle.png);
}
.phone .phone__icon {
    background-position: 0 bottom;
}
footer .phone__icon {
    margin-left: 2px;
}


.phone__number {
    display: inline-block;
    float: left;
    font-size: 24px;
    font-weight: 300;
    line-height: 95%;
    height: 20px;
}
.phone__number a{
    display: inline-block;
    text-decoration: none;
    float: left;
    font-size: 24px;
    font-weight: 300;
    line-height: 95%;
    height: 20px;
    color: #333;
}
footer .phone__number {
    margin-bottom: 8px;
}
.phone__icon {
    float: left;
    margin-right: 5px;
}

.icon{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.icon._medium {
    width: 38px;
    height: 38px;
    margin: 0;
    background: transparent url(../images/soc/icons-sprite_medium.png) no-repeat;
}
.icon._medium._facebook:hover {
    background-position: 0 -40px;
}

.icon._medium._vk {
    background-position: -40px 0px;
}
.icon._medium._vk:hover {
    background-position: -40px -40px;
}
.icon._medium._twitter {
    background-position: -80px 0;
}
.icon._medium._twitter:hover {
    background-position: -80px -40px;
}
.icon._medium._instagram {
    background-position: -120px 0;
}
.icon._medium._instagram:hover {
    background-position: -120px -40px;
}
.icon._medium._mailru {
    background-position: -160px 0;
}
.icon._medium._mailru:hover {
    background-position: -160px -40px;
}
.icon._medium._odnoklassniki {
    background-position: -200px 0;
}
.icon._medium._odnoklassniki:hover {
    background-position: -200px -40px;
}



.footer__section-title {
    font-size: 17px;
    margin: 0 0 14px;
    font-weight: 400;
}

footer {
    height: 163px;
    padding: 28px 0;
    background: #fbfbfb;
    border-top: 1px solid #ddd;
    float: left;
    width: 100%;
}
.owl-carousel .owl-nav .owl-next span, .owl-carousel .owl-nav .owl-prev span{
	font-size: 50px;
	color: #000;
	outline: none;
	font-weight: 300;
}
.owl-carousel .owl-nav{
	position: absolute;
	top: -55px;
    right: 10px;
}
.owl-carousel .owl-nav button:focus{
	outline: none;
}



.button, .email-subscription button, .guest-checkout__submit, .lightbox._mobile .pswp__button--close, .loan-form__button, .main-slider__main-button, .offer-selection__tab, .pickup-step-type__button-submit, .sms-confirm__button {
    vertical-align: middle;
    display: inline-block;
    height: 35px;
    padding: 7px 21px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    background: #0089d0;
    box-shadow: inset 0 -2px #006396;
    white-space: nowrap;
    text-decoration: none!important;
    cursor: pointer;
    transition: .01s;
}
.button:focus, .button:hover, .email-subscription button:focus, .email-subscription button:hover, .guest-checkout__submit:focus, .guest-checkout__submit:hover, .lightbox._mobile .pswp__button--close:focus, .lightbox._mobile .pswp__button--close:hover, .loan-form__button:focus, .loan-form__button:hover, .main-slider__main-button:focus, .main-slider__main-button:hover, .offer-selection__tab:focus, .offer-selection__tab:hover, .pickup-step-type__button-submit:focus, .pickup-step-type__button-submit:hover, .sms-confirm__button:focus, .sms-confirm__button:hover {
    background: #0072ad;
   	color: #fff;
}

section.smartphones div.center{
	margin: 20px auto;
	padding-left: 400px;

}
div.filter{
    width: 240px;
    float:left;
}

div.products{
    float: right;
    width: 720px;
}

label {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: normal;
    cursor: default;
    font-weight: 400;
}


.filters__filter-title {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 500;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

p.title-filters{
    color: #0089d0;
    font-weight: 500;
    margin-bottom:16px;

}

.search-element-wrap{
    margin-bottom:30px;
}

.owl-carousel .owl-item img{
    width: auto;
}






/*gallery*/


.gallery {
  width: 100%;
}
.gallery .main {
  width: 100%;
  height: 300px;

}
.gallery .main li {
  width: 100%;
  height: 300px;
  display: none;
}
.gallery .main li img {
  width: auto;
  height: 300px;
}
.gallery .main li:first-child {
  display: block;
}
.gallery .thumb {
  width: 100%;
  height: 75px;
}
.gallery .thumb li {
  width: 100px;
  height: 75px;
  display: block;
  float: left;
  cursor: pointer;
}
.gallery .thumb li.selected img, .gallery .thumb li img {
  width: auto;
  height: 75px;

}
.gallery .thumb li img {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=100)";
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.gallery .indicator {
  width: 500px;
  height: 30px;
  text-align: center;
  font-size: 0;
  display: block;
}
.gallery .indicator li {
  cursor: pointer;
  color: #cccccc;
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  width: 20px;
  text-align: center;
  display: inline-block;
}
.gallery .indicator li.selected {
  color: #999999;
}
.gallery nav {
  width: 500px;
  height: 50px;
  margin-top: -50px;
}
.gallery nav div {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #000;
  letter-spacing: 0.2em;
  color: #FFF;
  cursor: pointer;
}
.gallery nav div.nextBtn {
  float: right;
  border-radius: 0 25px 25px 0;
}
.gallery nav div.prevBtn {
  float: left;
  border-radius: 25px 0 0 25px;
}
#gallery2 .thumbPages {
  width: 500px;
  height: 100px;
}
#gallery2 .thumbPages > li {
  width: 500px;
  height: 100px;
  display: none;
}
#gallery2 .thumbPages > li:first-child {
  display: block;
}


.pr-gallery{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    position: static;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    float: left;
    padding: 21px 40px 60px;
    border-right: 1px solid #e5e5e5;
}


.pr-title {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    display: table-cell;
    vertical-align: top;
    float: none;
    padding: 14px 40px 28px;
}


div.clear{
    clear:both;
}



.gallery .thumb {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    padding-left: 10px;
    padding-right: 10px;
    bottom: 0;
    left: 0;
    height: 73px;
    padding-left: 0;
    margin: 21px 0;
    list-style: none;
    text-align: center;
}

.img-wrapper-g{
    position: relative;
    text-align: center;
}



.pr-single-top {
    *zoom: 1;

    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inline-block;
    margin-bottom: 21px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background: #fff;
}


.item__out-of-stock, .item__price, .item__rating {
    padding-bottom: 21px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 14px;
}
.item__price-heading {
    color: #999;
    margin-bottom: 5px;
}


.item-card__prices-price, .item__price-once {
    font-size: 17px;
    white-space: nowrap;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 500;
}

.item__benefits__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item__benefits__list-el {
    padding-left: 18px;
    line-height: 14px;
    margin-bottom: 6px;
}



.item__price-left-side {
    float: left;
    padding-right: 13px;
    margin-right: 13px;
    margin-bottom: 21px;
    border-right: 1px solid #e5e5e5;
}

.item__benefits {
    margin-bottom: 15px;
    width: 100%;
    float: left;
}

.item__price-right-side {
    float: left;
    margin-bottom: 21px;
    white-space: nowrap;
}


.item__benefits__list-el img {
    margin-left: -18px;
    margin-right: 5px;
}
.item__heading, h3 {
    margin: 0 0 14px;
    font-size: 24px;
    font-weight: 400;
}



 .specifications-list {
    *zoom: 1;
    width: 960px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    padding: 14px 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background: #fff;
}
.item-content__el-heading {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #e5e5e5;
}

#exampleModal input{
    width: 320px;
    margin-bottom: 7px;
    vertical-align: middle;
    height: 35px;
    max-width: 100%;
    padding: 0 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    outline: none;
    box-shadow: none;
}


.modal-dialog {
    width: 400px;
    max-width: 100%;
    margin: 10% auto;
}

#exampleModal .close:hover, #exampleModal .close:focus,#exampleModal .close:active{
    outline: none;
}


.specifications-list div{
    margin-bottom: 25px;
    font-weight: 600;
    
}
.specifications-list div:first-child{

}
.specifications-list div div{

    margin-bottom: 15px;
    font-size: 16px;
}
.specifications-list div  table{
    width: 100%;
    font-weight: 400;
}
.specifications-list div  table tr{
    padding:10px;
    border: 1px solid #f3f3f3;
}
.specifications-list div  table tr td{
    width: 50%;
    padding: 10px;
}



/*slider*/
section.slider .owl-carousel{
    position: relative
}
section.slider .owl-dots{
    text-align:center;
    position: absolute;
    bottom: 10px;
    width: 100%;

}
section.slider .owl-dots .owl-dot{
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 15px;
    margin-right: 2px;
    margin-left: 2px;
    outline: none;
}
section.slider .owl-dots .owl-dot.active{
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    background: none;
    border-radius: 15px;
    outline: none;
}
section.slider .owl-dots .owl-dot.active:focus, section.slider .owl-dots .owl-dot.active:active, section.slider .owl-dots .owl-dot:focus, section.slider .owl-dots .owl-dot:active{
    outline: none;
}