<table border="0" style="background:#eee; color:#333; border:solid 1px #000000;">
  <tr>
    <td colspan="2"><strong>Страница контакты</strong></td>
  </tr>
  <tr>
    <td>%%name.title%%</td>
    <td>%%name.value%%</td>
  </tr>
  <tr>
    <td>%%e-mail.title%%</td>
    <td>%%e-mail.value%%</td>
  </tr>
  <tr>
    <td>%%text.title%%</td>
    <td>%%text.value%%</td>
  </tr>
</table>
